h1, h2, h3, h4, h5, h6, p, img {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.main-container {
  box-sizing: border-box;
  background-color: #ffb8ca;
  align-items: center;
  min-width: 320px;
  height: 502px;
  padding-left: 20px;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.left-container {
  z-index: 2;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: absolute;
  top: 8px;
}

.logo-svg {
  width: 199px;
  height: 50px;
}

.logo-container {
  filter: drop-shadow(0 0 5px #0003);
  transition: filter .5s, transform .5s;
}

.logo-container:hover {
  filter: drop-shadow(0 0 15px #ff000080);
  transform: scale(1.1);
}

.hero-title {
  letter-spacing: .04em;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  width: 218px;
  height: 106px;
  padding-top: 136px;
  font-family: Titan One, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 29.77px;
}

.highlight {
  color: #d41443;
  text-shadow: 0 0 5px #0003;
  font-family: Titan One, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 46.32px;
  transition: text-shadow .5s, transform .5s;
}

.highlight:hover {
  text-shadow: 0 0 15px #ff000080;
  transform: scale(1.1);
}

.buttons-container {
  gap: 8px;
  padding-top: 20px;
  display: flex;
}

.products-button, .how-made-button {
  text-align: center;
  cursor: pointer;
  color: #d41443;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: DM Sans, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 10.42px;
  transition: background-color .25s ease-in-out;
}

.products-button:hover, .how-made-button:hover {
  color: #fff;
  background-color: #d41443;
}

.paragraph-icon-container, .milk-bottle, .description-paragraph {
  display: none;
}

.center-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.desktop-navbar {
  display: none;
}

.ice-cream-image {
  cursor: pointer;
  max-width: 100%;
  transition: transform .4s;
  position: absolute;
  top: 100px;
  right: 32px;
}

.ice-cream-image > svg {
  min-width: 346px;
  height: 344px;
  position: absolute;
  inset: -9px auto auto -81px;
}

.ice-cream-image > img {
  width: 171px;
  height: auto;
  position: relative;
}

.ice-cream-image:hover {
  transform: scale(1.1);
}

.right-container {
  z-index: 2;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 27px;
  right: 20px;
}

.header-right-container {
  align-items: center;
  display: flex;
}

.icon-burger-menu {
  border: 1px;
  width: 20px;
  height: 12px;
}

.buy-now-container, .stats-container, .person-container {
  display: none;
}

@media screen and (width >= 768px) {
  .main-container {
    min-width: 768px;
    height: 416px;
    padding-left: 32px;
  }

  .left-container {
    top: 32px;
  }

  .hero-title {
    min-width: 162px;
    height: 80px;
    padding-top: 20px;
    font-size: 2rem;
    line-height: 25.19px;
  }

  .highlight {
    font-size: 34px;
    line-height: 30.77px;
    display: block;
  }

  .paragraph-icon-container {
    align-items: center;
    display: flex;
  }

  .milk-bottle {
    width: 152px;
    height: 154px;
    padding-top: 10px;
    display: block;
  }

  .description-and-button-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    display: flex;
  }

  .description-paragraph {
    text-align: left;
    color: #fff;
    width: 120px;
    height: 48px;
    font-family: DM Sans, sans-serif;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    display: flex;
  }

  .arrow-right-button {
    color: #d41443;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-family: DM Sans, sans-serif;
    transition: background-color .25s ease-in-out;
  }

  .arrow-right-button:hover {
    background-color: #ecebeb;
  }

  .ice-cream-image {
    height: 336px;
    top: 78px;
    right: 303px;
  }

  .ice-cream-image > svg {
    width: 335px;
    height: 333px;
    inset: -37px auto auto -74px;
  }

  .ice-cream-image > img {
    width: 143px;
  }

  .right-container {
    top: 32px;
    right: 32px;
  }

  .buy-now-container {
    display: flex;
  }

  .buy-now-button {
    cursor: pointer;
    letter-spacing: 0;
    text-align: center;
    color: #d41443;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;
    margin-left: 32px;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    transition: background-color .25s ease-in-out;
    display: flex;
  }

  .buy-now-button:hover {
    color: #fff;
    background-color: #d41443;
  }

  .stats-container {
    flex-direction: column;
    display: flex;
  }

  .stat {
    filter: drop-shadow(0 0 5px #0003);
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 16px;
    transition: filter .5s, transform .5s;
    display: flex;
  }

  .stat:hover {
    filter: drop-shadow(0 0 15px #ff000080);
    transform: scale(1.1);
  }

  .cafes-number {
    width: 43px;
    height: 44px;
  }

  .food-truck-number {
    width: 51px;
    height: 43px;
  }

  .person-container {
    display: flex;
  }

  .person-image {
    min-width: 190px;
    height: 150px;
    margin-top: 70px;
  }
}

@media screen and (width >= 1158px) {
  .main-container {
    min-width: 1280px;
    height: 664px;
  }

  .hero-title {
    min-width: 277px;
    height: 137px;
    padding-top: 60px;
    line-height: 43.51px;
  }

  .highlight {
    font-size: 58px;
    line-height: 52.49px;
  }

  .buttons-container {
    gap: 14px;
    padding-top: 24px;
  }

  .products-button, .how-made-button {
    padding: 11px 22.63px 11px 23.66px;
    font-size: 16px;
    line-height: 18.23px;
  }

  .milk-bottle {
    width: 213px;
    height: 216px;
    padding-top: 40px;
  }

  .description-and-button-container {
    gap: 20px;
  }

  .description-paragraph {
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 19.6px;
  }

  .arrow-right {
    margin-top: 4%;
  }

  .desktop-navbar {
    z-index: 3;
    align-items: center;
    gap: 35px;
    min-width: 541px;
    display: flex;
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
  }

  .desktop-navbar a {
    color: #fff;
    text-align: left;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20.83px;
    text-decoration: none;
    transition: color .25s ease-in-out, transform .5s;
    display: inline-block;
  }

  .desktop-navbar a:hover {
    color: #d41443;
    transform: scale(1.1);
  }

  .ice-cream-image {
    z-index: 1;
    top: 107px;
    right: 368px;
  }

  .ice-cream-image > svg {
    width: 534px;
    height: 534px;
    inset: -54px auto auto -119px;
  }

  .ice-cream-image > img {
    width: 236px;
    height: 557px;
  }

  .right-container {
    top: 40px;
    right: 36px;
  }

  .icon-burger-menu {
    display: none;
  }

  .stat {
    gap: 15px;
    padding-top: 68px;
  }

  .cafes-number {
    min-width: 72px;
    height: 77px;
  }

  .food-truck-number {
    min-width: 92px;
    height: 76px;
  }

  .person-image {
    width: 304px;
    height: 241px;
    margin-top: 103px;
  }
}

.products-section {
  box-sizing: border-box;
  width: 100%;
  padding: 60px 0;
  display: block;
}

.products-container {
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
}

.section-title-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.subsection-title, .section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One;
  font-weight: 400;
}

.subsection-title {
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20.61px;
}

.section-title {
  color: #d41443;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 150px;
  font-size: 34px;
  line-height: 38.93px;
}

.products-cards {
  grid-template-columns: 1fr;
  gap: 150px;
  display: grid;
}

.product-item {
  box-sizing: border-box;
  border-radius: 24px;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 489px;
  transition: background-color .35s cubic-bezier(.4, 0, .2, 1) 50ms, box-shadow .35s cubic-bezier(.4, 0, .2, 1) 50ms, font-size .35s cubic-bezier(.4, 0, .2, 1) 50ms, line-height .35s cubic-bezier(.4, 0, .2, 1) 50ms;
  display: flex;
  position: relative;
}

.product-item:first-child {
  background-color: #ffb8ca;
}

.product-item:nth-child(2) {
  background-color: #f0d1a5;
}

.product-item:nth-child(3) {
  background-color: #c2e297;
}

.product-item:before {
  content: "";
  z-index: 2;
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -30%;
  left: 0;
}

.product-item:first-child:before {
  background-image: url("home-pic1-1x.49dd7413.png");
}

.product-item:nth-child(2):before {
  background-image: url("home-pic2-1x.76ae2826.png");
}

.product-item:nth-child(3):before {
  background-image: url("home-pic3-1x.de0c8518.png");
}

@media (-webkit-device-pixel-ratio >= 2), (resolution >= 192dpi) {
  .product-item:first-child:before {
    background-image: url("home-pic1-2x.e1f7dea6.png");
  }

  .product-item:nth-child(2):before {
    background-image: url("home-pic2-2x.13ce8c82.png");
  }

  .product-item:nth-child(3):before {
    background-image: url("home-pic3-2x.bd20aa98.png");
  }
}

.product-name:after {
  content: "...";
  text-align: center;
  color: #fff;
  padding: 32px 127px 0;
  font-size: 20px;
  display: block;
}

.info-product-card {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.product-name {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
  padding-top: 160px;
  font-family: Titan One, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.9px;
}

.description-product {
  text-align: center;
  color: #fff;
  letter-spacing: .04em;
  width: 216px;
  height: 124px;
  padding: 32px 32px 0;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.28px;
}

.arrow-right {
  margin: auto;
}

.icon-arrow-container {
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: width .35s cubic-bezier(.4, 0, .2, 1), height .35s cubic-bezier(.4, 0, .2, 1), transform .35s cubic-bezier(.4, 0, .2, 1), box-shadow .35s cubic-bezier(.4, 0, .2, 1), background-color .35s cubic-bezier(.4, 0, .2, 1), fill .35s cubic-bezier(.4, 0, .2, 1);
  display: flex;
  position: absolute;
  top: 409px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-arrow-container svg {
  fill: #d41443;
  width: 18px;
  height: 18px;
  transition: transform .35s cubic-bezier(.4, 0, .2, 1), fill .35s cubic-bezier(.4, 0, .2, 1);
}

@media screen and (width >= 768px) {
  .products-container {
    max-width: 768px;
  }

  .section-title-container {
    margin-bottom: 40px;
  }

  .subsection-title {
    font-size: 26px;
    line-height: 29.77px;
  }

  .section-title {
    font-size: 48px;
    line-height: 54.96px;
  }

  .products-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .product-item {
    width: 224px;
    height: 473px;
  }

  .product-item:hover .arrow-right {
    cursor: pointer;
    fill: #fff;
    transform: rotate(-90deg);
  }

  .product-item:hover .icon-arrow-container {
    background-color: #d41443;
    border-radius: 35%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 7px #00000026;
  }

  .product-item:first-child:hover {
    background-color: #d97596;
    box-shadow: 0 5px 15px #a80355a1;
  }

  .product-item:nth-child(2):hover {
    background-color: #f1ca81;
    box-shadow: 0 5px 15px #e5980ba1;
  }

  .product-item:nth-child(3):hover {
    background-color: #94bd60;
    box-shadow: 0 5px 15px #01681ba1;
  }

  .product-item:hover .description-product {
    letter-spacing: .48px;
    font-size: 15px;
    line-height: 22px;
  }

  .product-item:hover h3 {
    font-size: 22px;
  }

  .product-item:before {
    width: 224px;
    height: 224px;
  }

  .product-name {
    padding-top: 118px;
  }

  .product-name:after {
    padding: 32px 99px 0;
  }

  .description-product {
    width: 188px;
    height: 150px;
    padding: 32px 18px 0;
    line-height: 24.64px;
  }

  .icon-arrow-container {
    top: 393px;
  }
}

@media screen and (width >= 1158px) {
  .products-container {
    max-width: 1158px;
  }

  .section-title-container {
    margin-bottom: 120px;
  }

  .subsection-title {
    font-size: 30px;
    line-height: 34.35px;
  }

  .section-title {
    letter-spacing: .06em;
    font-size: 58px;
    line-height: 66.41px;
  }

  .products-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .product-item {
    width: 368px;
    height: 535px;
  }

  .product-item:before {
    width: 368px;
    height: 394px;
    top: -50%;
  }

  .product-name {
    padding-top: 165px;
    padding-left: 94px;
    padding-right: 93px;
  }

  .product-name:after {
    padding: 32px 171px 0;
  }

  .description-product {
    width: 304px;
    height: 134px;
    padding: 32px 32px 0;
    font-size: 16px;
    line-height: 28.16px;
  }

  .icon-arrow-container {
    width: 38.21px;
    top: 435px;
  }
}

.about-section {
  box-sizing: border-box;
  background: #fff5f6;
  min-width: 320px;
  padding-top: 60px;
  padding-bottom: 66px;
}

.about-container {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.about-title-container {
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: transform .25s;
  display: flex;
}

.about-title-container:hover {
  transform: translateX(-20px);
}

.about-subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  width: 198px;
  height: 21px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.61px;
}

.about-title {
  letter-spacing: .04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  width: 200px;
  height: 76px;
  padding-bottom: 32px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 38.93px;
}

.about-description {
  background-image: url("about-bg1x.1d31de2a.png");
  background-position: 20px 402px;
  background-repeat: no-repeat;
  background-size: 280px 133px;
  flex-direction: column;
  width: 100%;
  display: flex;
  position: relative;
}

.about-image {
  width: 280px;
  height: 279px;
}

.about-description-text {
  flex-direction: column;
  display: flex;
}

.about-description-text p:hover {
  transition: all .25s linear;
  transform: scale(1.1);
}

.about-paragraph {
  letter-spacing: .04em;
  text-align: left;
  width: 220px;
  padding-left: 20px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.44px;
}

.about-paragraph-one {
  color: #000;
  z-index: 2;
  height: 111px;
  padding-top: 40px;
  padding-bottom: 18px;
}

.about-paragraph-two {
  color: #907e82;
  height: 171px;
}

.read-more-button {
  color: #d41443;
  text-align: center;
  background-color: #fff;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  gap: 13.62px;
  width: 176px;
  height: 44px;
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.23px;
  display: flex;
}

.read-more-button:hover {
  background-color: #ecebeb;
}

.button-dash {
  fill: #d41443;
  width: 10px;
  height: 10px;
}

.about-stats-container {
  text-align: left;
  flex-direction: column;
  gap: 32px;
  display: flex;
}

.about-stat-item {
  flex-direction: column;
  gap: 16px;
  margin-left: 20px;
  display: flex;
}

.about-stat-item:hover {
  transform: translateY(10px);
}

.stat-number {
  letter-spacing: .04em;
  text-align: left;
  color: #d41443;
  width: 98px;
  height: 56px;
  font-family: Titan One;
  font-size: 36px;
  font-weight: 400;
  line-height: 41.22px;
}

.stat-description {
  letter-spacing: .02em;
  text-align: left;
  color: #000;
  max-width: 280px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 20.4px;
}

@media screen and (width >= 768px) {
  .about-section {
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-container {
    display: flex;
  }

  .about-title-container {
    gap: 16px;
  }

  .about-subtitle {
    width: 285px;
    height: 30px;
    font-size: 26px;
    line-height: 29.77px;
  }

  .about-title {
    white-space: nowrap;
    width: 429px;
    height: 55px;
    padding-bottom: 40px;
    font-size: 48px;
    line-height: 54.96px;
  }

  .about-image {
    width: 336px;
    height: 335px;
    padding-left: 32px;
  }

  .about-image:hover {
    animation-name: spin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .about-description {
    background-image: none;
    flex-direction: row;
    gap: 32px;
  }

  .about-description-text {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }

  .about-paragraph {
    width: 334px;
    font-size: 14px;
  }

  .about-paragraph-one {
    height: 95px;
    padding-bottom: 32px;
    line-height: 24.36px;
  }

  .about-paragraph-two {
    height: 155px;
    padding-bottom: 40px;
    line-height: 27.16px;
  }

  .read-more-button {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 20.83px;
  }

  .about-stats-container {
    flex-direction: row;
    gap: 0;
  }

  .about-stat-item {
    gap: 0;
    margin-left: 23px;
  }

  .about-product-icon {
    padding-bottom: 36px;
  }

  .cow-bucket {
    width: 50px;
  }

  .stat-number {
    height: 56px;
    padding-bottom: 13px;
    font-size: 48px;
    line-height: 54.96px;
  }

  .number-one {
    width: 98px;
  }

  .number-two {
    width: 147px;
  }

  .number-three {
    width: 77px;
  }

  .stat-description {
    font-size: 14px;
    line-height: 24.36px;
  }

  .one {
    width: 165px;
    height: 113px;
  }

  .two {
    width: 162px;
    height: 94px;
  }

  .three {
    width: 200px;
    height: 94px;
  }
}

@media screen and (width >= 1158px) {
  .about-section {
    min-width: 1200px;
    padding-bottom: 203px;
  }

  .about-description {
    background-image: url("about-bg1x.1d31de2a.png");
    background-position: 50% -60px;
    background-repeat: no-repeat;
    background-size: 1158px 521px;
    justify-content: center;
    align-items: center;
  }

  .about-subtitle {
    width: 351px;
    height: 36px;
    font-size: 30px;
    line-height: 34.35px;
  }

  .about-title {
    width: 534px;
    height: 66px;
    padding-bottom: 60px;
    font-size: 58px;
    line-height: 66.41px;
  }

  .about-image {
    width: 501px;
    height: 501px;
    padding-left: 16px;
  }

  .about-paragraph-one {
    width: 400px;
    height: 104px;
    font-size: 16px;
    line-height: 28.16px;
  }

  .about-paragraph-two {
    width: 401px;
    height: 130px;
    font-size: 14px;
  }

  .about-image-bg {
    object-fit: cover;
    width: 1200px;
    height: 521px;
    display: flex;
    top: 0;
  }

  .read-more-button {
    margin-bottom: 121px;
  }

  .about-stat-item {
    margin-left: 7px;
  }

  .about-product-icon {
    padding-bottom: 40px;
  }

  .stat-number {
    height: 65px;
    padding-bottom: 16px;
    font-size: 58px;
    line-height: 66.41px;
  }

  .stat-description {
    font-size: 16px;
    line-height: 28.16px;
  }

  .one {
    width: 288px;
    height: 79px;
  }

  .two {
    width: 317px;
    height: 58px;
  }

  .three {
    width: 288px;
    height: 82px;
  }
}

:root {
  --transition: .25s cubic-bezier(.4, 0, .2, 1);
}

.testimonials-section {
  min-width: 320px;
  height: auto;
}

.gallery {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.53px;
  margin-top: -27px;
  margin-bottom: 60px;
  display: flex;
}

.second-container, .third-container, .fourth-container, .fifth-container {
  flex-direction: column;
  display: flex;
}

.fourth-container {
  margin-top: 5%;
}

[class^="img-testimonials-"] {
  transition: transform var(--transition), box-shadow var(--transition);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  width: 43.59px;
  height: 43.86px;
}

[class^="img-testimonials-"]:hover {
  cursor: pointer;
  z-index: 3;
  transform: scale(1.2);
  box-shadow: 0 11px 11px #21212133;
}

.img-testimonials-4 {
  width: 89.4px;
  height: 89.61px;
}

.img-testimonials-1 {
  background-image: url("testimonials-1-m-1x.3f972cd9.jpg");
}

.img-testimonials-2 {
  background-image: url("testimonials-2-m-1x.eac1dec9.jpg");
}

.img-testimonials-3 {
  background-image: url("testimonials-3-m-1x.8e706c80.jpg");
}

.img-testimonials-4 {
  background-image: url("testimonials-4-m-1x.32604ee1.jpg");
}

.img-testimonials-5 {
  background-image: url("testimonials-5-m-1x.35d7639d.jpg");
}

.img-testimonials-6 {
  background-image: url("testimonials-6-m-1x.38cb0cdf.jpg");
}

.img-testimonials-7 {
  background-image: url("testimonials-7-m-1x.54bf36b1.jpg");
}

.img-testimonials-8 {
  background-image: url("testimonials-8-m-1x.ce5da740.jpg");
}

.img-testimonials-9 {
  background-image: url("testimonials-9-m-1x.bcfd2694.jpg");
}

.img-testimonials-10 {
  background-image: url("testimonials-10-m-1x.9775105a.jpg");
}

@media (min-device-pixel-ratio: 2), (resolution >= 192dpi), (resolution >= 2x) {
  .img-testimonials-1 {
    background-image: url("testimonials-1-m-2x.d55af1eb.jpg");
  }

  .img-testimonials-2 {
    background-image: url("testimonials-2-m-2x.981c0498.jpg");
  }

  .img-testimonials-3 {
    background-image: url("testimonials-3-m-2x.4aeb0b69.jpg");
  }

  .img-testimonials-4 {
    background-image: url("testimonials-4-m-2x.12084e6e.jpg");
  }

  .img-testimonials-5 {
    background-image: url("testimonials-5-m-2x.d41d6b60.jpg");
  }

  .img-testimonials-6 {
    background-image: url("testimonials-6-m-2x.061918f0.jpg");
  }

  .img-testimonials-7 {
    background-image: url("testimonials-7-m-2x.016fc34d.jpg");
  }

  .img-testimonials-8 {
    background-image: url("testimonials-8-m-2x.2c13f3b1.jpg");
  }

  .img-testimonials-9 {
    background-image: url("testimonials-9-m-2x.14fca92c.jpg");
  }

  .img-testimonials-10 {
    background-image: url("testimonials-10-m-2x.dfd7d415.jpg");
  }
}

.carousel {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.profile-picture-list {
  display: flex;
}

.testimonials-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.profile-picture-list li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.customer-picture {
  border-radius: 44px;
  width: 85px;
  height: 85px;
  padding-bottom: 32px;
}

.profile-picture-list li:nth-child(2), .profile-picture-list li:nth-child(3) {
  display: none;
}

.container-reviews {
  background: #fafafa;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 307px;
  display: flex;
  position: relative;
}

.quatation-mark {
  width: 54px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 45px;
}

.customer-review {
  letter-spacing: .04em;
  text-align: center;
  color: #000;
  text-underline-offset: 5px;
  width: 157px;
  height: 213px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 31.2px;
  text-decoration: underline 1px #e1e1e1;
  position: relative;
}

.reviews-slider {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: flex;
}

.container-red-dot {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  display: flex;
}

.red-dot-svg {
  width: 4px;
  height: 4px;
  padding-top: 16px;
}

.reviews-slider span {
  text-align: center;
  width: 172px;
  height: 25px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 26.04px;
}

.switch-button {
  flex-direction: row;
  align-items: center;
  gap: 18px;
  display: flex;
}

.gray-dot {
  width: 12px;
  height: 12px;
  padding-top: 16px;
  padding-bottom: 60px;
}

@media screen and (width >= 768px) {
  .testimonials-section {
    background: linear-gradient(#fff5f6, #fff);
    min-width: 768px;
  }

  .gallery {
    gap: 6px;
    margin-top: -37px;
  }

  [class^="img-testimonials-"] {
    border-radius: 20px;
    width: 100px;
    height: 105px;
  }

  .img-testimonials-4 {
    width: 230px;
    height: 214px;
  }

  .img-testimonials-1 {
    background-image: url("testimonials-1-t-1x.d2d5bc8b.jpg");
  }

  .img-testimonials-2 {
    background-image: url("testimonials-2-t-1x.b37e260e.jpg");
  }

  .img-testimonials-3 {
    background-image: url("testimonials-3-t-1x.14aa3714.jpg");
  }

  .img-testimonials-4 {
    background-image: url("testimonials-4-t-1x.45386ff2.jpg");
  }

  .img-testimonials-5 {
    background-image: url("testimonials-5-t-1x.d20c7fbd.jpg");
  }

  .img-testimonials-6 {
    background-image: url("testimonials-6-t-1x.9b6837db.jpg");
  }

  .img-testimonials-7 {
    background-image: url("testimonials-7-t-1x.539faad4.jpg");
  }

  .img-testimonials-8 {
    background-image: url("testimonials-8-t-1x.75e6fe96.jpg");
  }

  .img-testimonials-9 {
    background-image: url("testimonials-9-t-1x.c2f23f4a.jpg");
  }

  .img-testimonials-10 {
    background-image: url("testimonials-10-t-1x.50f4c0fa.jpg");
  }
}

@media screen and (width >= 768px) and (min-device-pixel-ratio: 2), screen and (width >= 768px) and (resolution >= 192dpi), screen and (width >= 768px) and (resolution >= 2x) {
  .img-testimonials-1 {
    background-image: url("testimonials-1-t-2x.5c2ea508.jpg");
  }

  .img-testimonials-2 {
    background-image: url("testimonials-2-t-2x.13515fc8.jpg");
  }

  .img-testimonials-3 {
    background-image: url("testimonials-3-t-2x.ab80c719.jpg");
  }

  .img-testimonials-4 {
    background-image: url("testimonials-4-t-2x.98429cba.jpg");
  }

  .img-testimonials-5 {
    background-image: url("testimonials-5-t-2x.e74507aa.jpg");
  }

  .img-testimonials-6 {
    background-image: url("testimonials-6-t-2x.4710bee7.jpg");
  }

  .img-testimonials-7 {
    background-image: url("testimonials-7-t-2x.f66b1c54.jpg");
  }

  .img-testimonials-8 {
    background-image: url("testimonials-8-t-2x.2e92697d.jpg");
  }

  .img-testimonials-9 {
    background-image: url("testimonials-9-t-2x.574f42d4.jpg");
  }

  .img-testimonials-10 {
    background-image: url("testimonials-10-t-2x.d0e70d28.jpg");
  }
}

@media screen and (width >= 768px) {
  .customer-picture {
    padding-bottom: 20px;
  }

  .container-reviews {
    background: #fafafa80;
    width: 608px;
    height: 108px;
  }

  .quatation-mark {
    width: 60.35px;
    top: 20px;
    left: 6px;
  }

  .customer-review {
    width: 492px;
    height: 83px;
    font-size: 14px;
    line-height: 29.96px;
  }

  .reviews-slider {
    gap: 16px;
  }

  .red-dot-svg {
    padding-top: 4px;
  }

  .reviews-slider span {
    font-size: 16px;
    line-height: 29.76px;
  }

  .gray-dot {
    padding-top: 16px;
    padding-bottom: 80px;
  }
}

@media screen and (width >= 1158px) {
  .testimonials-section {
    background: none;
    min-width: 1158px;
  }

  .gallery {
    gap: 8px;
    margin-top: -100px;
  }

  [class^="img-testimonials-"] {
    width: 138px;
    height: 138.68px;
  }

  .img-testimonials-4 {
    width: 283px;
    height: 283.34px;
  }

  .img-testimonials-1 {
    background-image: url("testimonials-1-d-1x.d40748fc.jpg");
  }

  .img-testimonials-2 {
    background-image: url("testimonials-2-d-1x.6dc2b9fc.jpg");
  }

  .img-testimonials-3 {
    background-image: url("testimonials-3-d-1x.b81e7c98.jpg");
  }

  .img-testimonials-4 {
    background-image: url("testimonials-4-d-1x.6fc00bb8.jpg");
  }

  .img-testimonials-5 {
    background-image: url("testimonials-5-d-1x.a9c44760.jpg");
  }

  .img-testimonials-6 {
    background-image: url("testimonials-6-d-1x.86d58664.jpg");
  }

  .img-testimonials-7 {
    background-image: url("testimonials-7-d-1x.6f2b4a2a.jpg");
  }

  .img-testimonials-8 {
    background-image: url("testimonials-8-d-1x.7b9a78ef.jpg");
  }

  .img-testimonials-9 {
    background-image: url("testimonials-9-d-1x.2072f65e.jpg");
  }

  .img-testimonials-10 {
    background-image: url("testimonials-10-d-1x.1fb2a5e5.jpg");
  }
}

@media screen and (width >= 1158px) and (min-device-pixel-ratio: 2), screen and (width >= 1158px) and (resolution >= 192dpi), screen and (width >= 1158px) and (resolution >= 2x) {
  .img-testimonials-1 {
    background-image: url("testimonials-1-d-2x.58102264.jpg");
  }

  .img-testimonials-2 {
    background-image: url("testimonials-2-d-2x.e83b65ff.jpg");
  }

  .img-testimonials-3 {
    background-image: url("testimonials-3-d-2x.c288f5f2.jpg");
  }

  .img-testimonials-4 {
    background-image: url("testimonials-4-d-2x.e750b936.jpg");
  }

  .img-testimonials-5 {
    background-image: url("testimonials-5-d-2x.5657298a.jpg");
  }

  .img-testimonials-6 {
    background-image: url("testimonials-6-d-2x.cbf201aa.jpg");
  }

  .img-testimonials-7 {
    background-image: url("testimonials-7-d-2x.66f64137.jpg");
  }

  .img-testimonials-8 {
    background-image: url("testimonials-8-d-2x.9b8dd10b.jpg");
  }

  .img-testimonials-9 {
    background-image: url("testimonials-9-d-2x.4ffe210b.jpg");
  }

  .img-testimonials-10 {
    background-image: url("testimonials-10-d-2x.5d6f1569.jpg");
  }
}

@media screen and (width >= 1158px) {
  .customer-picture {
    padding-bottom: 16px;
  }

  .container-reviews {
    width: 968px;
    height: 138px;
  }

  .quatation-mark {
    width: 54px;
    top: 32px;
    left: 63px;
  }

  .customer-review {
    width: 750px;
    height: 52px;
    font-size: 16px;
    line-height: 29.76px;
  }

  .red-dot-svg {
    padding-top: 16px;
  }

  .reviews-slider span {
    white-space: nowrap;
    height: auto;
    font-size: 20px;
    line-height: 37.2px;
  }

  .gray-dot {
    padding-bottom: 120px;
  }
}

.contacts-section {
  box-sizing: border-box;
  background: linear-gradient(#fff 15%, #fff5f6 35%) 0 0 / 100%;
  min-width: 320px;
  margin: 0 auto;
}

.contacts-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cards-list {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

.location-card {
  background: #fff;
  border-radius: 24px;
  width: 280px;
  height: auto;
  box-shadow: 0 8px 30px #0b0b001a;
}

.location-card:hover {
  transition: all .25s linear;
  transform: scale(1.1);
}

.content-card {
  flex-direction: column;
  width: 216px;
  height: auto;
  padding: 40px 32px;
  display: flex;
}

.category-location {
  letter-spacing: .04em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 16px;
  margin-bottom: 20px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 22.32px;
  display: flex;
}

.foodtruck {
  background-color: #c2e297;
  width: 130px;
}

.cafe {
  background-color: #f0d1a5;
}

.location-details, .business-hours, .contact-info {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.location-details {
  border-bottom: 1px solid #e1e1e1;
  height: 66px;
  padding-bottom: 24px;
}

.city-name, .location-description, .phone-number, .email-address, .weekdays, .weekends, .opening-hours {
  text-align: left;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
}

.city-name {
  padding-bottom: 8px;
}

.location-description {
  color: #907e82;
  height: 36px;
  line-height: 18px;
}

.cafe-description {
  width: 208px;
}

.foodtruck-description {
  width: 216px;
}

.cafe-two-description {
  width: 204px;
}

.business-hours {
  border-bottom: 1px solid #e1e1e1;
  gap: 8px;
  padding: 24px 0;
}

.weekdays-container, .weekends-container {
  width: 100%;
}

.opening-hours {
  color: #ffa5ba;
}

.contact-info {
  align-items: flex-start;
  padding-top: 24px;
}

.phone-number, .email-address {
  color: #907e82;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

.phone-number:hover, .email-address:hover {
  color: #d41443;
}

.contacts-button {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  display: flex;
}

.locations-button, .franchise-button {
  text-align: center;
  color: #d41443;
  background: #fff;
  border-radius: 22px;
  width: 161px;
  height: 44px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

.locations-button:hover, .franchise-button:hover {
  color: #fff;
  background: #d41443;
}

@media screen and (width >= 768px) {
  .contacts-section {
    min-width: 768px;
  }

  .cards-list {
    flex-direction: row;
    gap: 32px;
  }

  .location-card {
    width: 224px;
  }

  .content-card {
    width: 160px;
  }

  .category-location {
    color: #fff;
    border-radius: 6px;
    width: 73px;
    height: 28px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 29.76px;
  }

  .foodtruck {
    width: 138px;
  }

  .location-details {
    height: 103px;
    padding-bottom: 32px;
  }

  .city-name, .location-description, .phone-number, .email-address, .weekdays, .weekends, .opening-hours {
    font-size: 14px;
  }

  .city-name {
    padding-bottom: 12px;
  }

  .location-description {
    height: 65px;
    line-height: 23.24px;
  }

  .cafe-description {
    width: 159px;
  }

  .foodtruck-description {
    width: 158px;
  }

  .cafe-two-description {
    width: 176px;
  }

  .business-hours {
    gap: 12px;
    padding: 32px 0;
  }

  .contact-info {
    padding-top: 32px;
  }

  .contacts-button {
    flex-direction: row;
    gap: 14.5px;
    padding-top: 60px;
  }

  .locations-button {
    width: 191.45px;
  }

  .franchise-button {
    width: 174.05px;
  }
}

@media screen and (width >= 1158px) {
  .contacts-section {
    min-width: 1158px;
  }

  .location-card {
    width: 368px;
  }

  .content-card {
    width: 288px;
  }

  .category-location {
    width: 75.1px;
  }

  .foodtruck {
    width: 138px;
  }

  .location-details {
    height: 88px;
  }

  .city-name, .location-description, .phone-number, .email-address, .weekdays, .weekends, .opening-hours {
    font-size: 16px;
  }

  .city-name {
    padding-bottom: 8px;
  }

  .location-description {
    height: 50px;
    line-height: 29.28px;
  }

  .cafe-description {
    width: 288px;
  }

  .foodtruck-description {
    width: 243px;
  }

  .cafe-two-description {
    width: 276px;
  }

  .contacts-button {
    gap: 12px;
  }

  .locations-button {
    width: 198px;
  }

  .franchise-button {
    width: 168px;
  }
}

.footer-container {
  box-sizing: border-box;
  background: #fff5f6;
  min-width: 320px;
  padding-top: 40px;
  padding-left: 20px;
}

.footer-content {
  flex-direction: column;
  display: flex;
}

.footer-title {
  align-items: flex-start;
  width: 234px;
  height: 134px;
  padding-bottom: 40px;
  display: flex;
}

.footer-slogan {
  text-align: left;
  text-transform: uppercase;
  color: #ffa5ba;
  width: 232px;
  height: 42px;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.61px;
}

.footer-slogan span {
  letter-spacing: .04em;
  text-align: left;
  text-transform: uppercase;
  color: #d41443;
  width: 200px;
  height: 76px;
  padding-top: 16px;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 38.93px;
  display: inline-block;
}

.animated-text {
  text-shadow: 0 0 5px #0003;
  transition: text-shadow .5s;
}

.animated-text:hover {
  text-shadow: 0 0 15px #ff000080;
}

.footer-social-links {
  flex-direction: row;
  justify-content: flex-end;
  gap: 28.24px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 19.53px;
  display: flex;
}

.social-icon:hover {
  fill: #d41443;
}

.social-icon {
  fill: #ffa5ba;
  color: #fff;
  width: 32px;
  height: 32px;
}

.footer-contact-info {
  text-align: right;
  color: #000;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 40px;
  padding-right: 20px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 22.32px;
  display: flex;
}

.footer-phone-number {
  color: #d41443;
  margin-left: 6px;
}

.footer-phone-number:hover {
  z-index: 2;
  transform: scale(.99);
  box-shadow: 0 5px 5px #bab9b933;
}

.footer-copyright-info {
  border-top: 1px solid #e1e1e1;
  justify-content: center;
  padding-top: 16px;
  display: flex;
}

.copyright-text:hover {
  transform: scale(1.1);
}

.copyright-text {
  text-align: center;
  color: #907e82;
  padding-bottom: 4px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 21.28px;
  transition: transform .5s;
}

@media screen and (width >= 768px) {
  .footer-container {
    min-width: 768px;
    padding-left: 16px;
  }

  .footer-title {
    width: 340px;
    height: 179px;
  }

  .footer-slogan {
    width: 340px;
    height: 57px;
    font-size: 26px;
    line-height: 29.77px;
  }

  .footer-slogan span {
    width: 340px;
    height: 110px;
    font-size: 48px;
    line-height: 54.96px;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
  }

  .footer-social-links {
    gap: 30px;
    padding-top: 60px;
    padding-right: 20px;
  }

  .social-icon {
    width: 34px;
    height: 34px;
  }

  .footer-contact-info {
    padding-bottom: 59px;
    font-size: 14px;
    line-height: 26.04px;
  }

  .footer-copyright-info {
    padding-top: 8px;
  }

  .copyright-text {
    line-height: 26.04px;
  }

  .break-line {
    display: none;
  }
}

@media screen and (width >= 1158px) {
  .footer-container {
    min-width: 1158px;
    padding-top: 120px;
  }

  .footer-title {
    width: 474px;
    height: 116px;
    padding-bottom: 60px;
  }

  .footer-slogan {
    width: 472px;
    height: 34px;
    font-size: 30px;
    line-height: 34.35px;
  }

  .footer-slogan span {
    letter-spacing: .06em;
    width: 500px;
    height: 66px;
    font-size: 58px;
    line-height: 66.41px;
  }

  .footer-social-links {
    padding-top: 12px;
    padding-right: 16px;
  }

  .footer-contact-info {
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 29.76px;
  }

  .footer-copyright-info {
    padding-top: 7px;
  }
}
/*# sourceMappingURL=index.b07a87f3.css.map */
