<section class="contacts-section" id="contacts">
  <div class="contacts-container">
    <ul class="cards-list">
      <li>
        <div class="location-card">
          <div class="content-card">
            <p class="category-location cafe">cafe</p>
            <div class="location-details">
              <p class="city-name">Chicago</p>
              <p class="location-description cafe-description">
                Handcrafted coffee, baked goods, and premium ice cream.
              </p>
            </div>
            <div class="business-hours">
              <div class="weekdays-container">
                <h2 class="weekdays">Monday - Friday</h2>
                <p class="opening-hours">06:00 AM - 10:00 PM</p>
              </div>
              <div class="weekends-container">
                <h2 class="weekends">Saturday - Sunday</h2>
                <p class="opening-hours">08:00 AM - 04:00 PM</p>
              </div>
            </div>
            <div class="contact-info">
              <a href="tel:+61038766284" class="phone-number"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="email-address"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="location-card">
          <div class="content-card">
            <p class="category-location foodtruck">foodtruck</p>
            <div class="location-details">
              <p class="city-name">Los Angeles</p>
              <p class="location-description foodtruck-description">
                Fusion cuisine and refreshing ice cream made with passion.
              </p>
            </div>
            <div class="business-hours">
              <div class="weekdays-container">
                <h2 class="weekdays">Monday - Friday</h2>
                <p class="opening-hours">06:00 AM - 10:00 PM</p>
              </div>
              <div class="weekends-container">
                <h2 class="weekends">Saturday - Sunday</h2>
                <p class="opening-hours">08:00 AM - 04:00 PM</p>
              </div>
            </div>
            <div class="contact-info">
              <a href="tel:+61038766284" class="phone-number"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="email-address"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="location-card">
          <div class="content-card">
            <p class="category-location cafe">cafe</p>
            <div class="location-details">
              <p class="city-name">New York</p>
              <p class="location-description cafe-two-description">
                Specialty teas, artisanal pastries, mouth-watering ice cream.
              </p>
            </div>
            <div class="business-hours">
              <div class="weekdays-container">
                <h2 class="weekdays">Monday - Friday</h2>
                <p class="opening-hours">06:00 AM - 10:00 PM</p>
              </div>
              <div class="weekends-container">
                <h2 class="weekends">Saturday - Sunday</h2>
                <p class="opening-hours">08:00 AM - 04:00 PM</p>
              </div>
            </div>
            <div class="contact-info">
              <a href="tel:+61038766284" class="phone-number"
                >+61(0) 383 766 284</a
              >
              <a href="mailto:noreply@envato.com" class="email-address"
                >noreply@envato.com</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="contacts-button">
      <button class="locations-button">Our Locations ></button>
      <button class="franchise-button">Franchise ></button>
    </div>
  </div>
</section>
