<div class="popup is-hidden" data-popup>
  <div class="close-button-container">
    <svg class="popup-close-btn" data-popup-close>
      <use href="./images/icons.svg#icon-close-popup"></use>
    </svg>
  </div>

  <div class="popup-content">
    <button class="btn-buy-popup">
      <span>Buy now</span>

      <svg class="arrow-svg">
        <use href="./images/icons.svg#arrow-right"></use>
      </svg>
    </button>
    <nav class="popup-nav">
      <ul class="popup-list">
        <li class="popup-item">
          <a href="https://moiseflori.github.io/IceCream2/">Home</a>
        </li>
        <li class="popup-item"><a href="#reviews">About us</a></li>
        <li class="popup-item"><a href="#about">How it's made?</a></li>
        <li class="popup-item"><a href="#products">Our products</a></li>
        <li class="popup-item"><a href="#contacts">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>

<script src="./js/popup.js"></script>
